* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    min-width: 900px;
    background-image: url(../images/big_image_1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*background-position: center center;*/
    background-size: cover;
}

.head {
    height: 60px;
    text-align: center;
    position: relative;
}

#m {
    position: absolute;
    width: 50px;
    height: 50px;
    text-align: center;
    background: rgb(255, 255, 255, 0);
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255, .1);
    outline: none;
    top: 50%;
    margin-top: -25px;
    left: 20px;
    color: #fff;
}

#dv1 {
    position: absolute;
    right: 20px;
    height: 30px;
    line-height: 30px;
    top: 50%;
    margin-top: -15px;
}

#main_content {
    text-align: center;
}

#home {
    text-decoration: none;
    font-size: 40px;
    color: rgb(255, 255, 255, .8);
}

#dv1 {
    color: #fff;
}

#dv1 a,
#dv2 a {
    text-decoration: none;
    color: #fff;
}

.btn {
    height: 100px;
    border-radius: 0;
}

.dv2 {
    margin: auto 20px;
}

#dv2 {
    position: absolute;
    right: 20px;
    height: 30px;
    line-height: 30px;
    top: 50%;
    margin-top: -15px;
    display: none;
    color: #fff;
    font-size: 15px;
}

#pop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .5s;
    -webkit-transition: all .5s;
    visibility: hidden;
    opacity: 0;
}

#pop.show {
    visibility: visible;
    opacity: 1;
}

#p-content {
    position: absolute;
    z-index: 200;
    width: 700px;
    height: 400px;
    left: 50%;
    top: 50%;
    margin-left: -350px;
    margin-top: -200px;
    background: #fff;

}

#p-bg {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
}

#menupop {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    /*border-right: 3px solid #000;*/
    transition: all .5s;
    -webkit-transition: all .5s;
    transform: translate(-200px, 0);
    visibility: hidden;
    background: rgb(0, 0, 0, .3);
}

#menupop.show {
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
    margin-right: 0;
}

#wrapper {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
}

#menupop ul li {
    width: 100%;
    border-bottom: 1px solid #fff;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
}

#login_form {
    width: 400px;
    height: 260px;
    padding: 13px;

    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -130px;
    text-align: center;
}


.text_field {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0, .1);
    outline: none;
}

#login_control input {
    padding: 5px;
    background: #38f;
    outline: none;
    border: 1px solid #38f;
    border-radius: 5px;
}

#menupop ul li a {
    text-decoration: none;
    color: #fff;
}