#table-1 thead,
#table-1 tr {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(255, 255, 255);
}

#table-1 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(235, 242, 224);
    width: 800px;
    margin: 30px auto;
}

#table-1 th{
    text-align: center;
}

#table-1 td,
#table-1 th {
    padding: 5px 10px;
    font-size: 20px;
    font-family: Verdana;
    color: #8B8B00;
    height: 150px;
}

#table-1 tr:nth-child(even) {
    background: rgb(0, 0, 0, .1)
}

#table-1 tr:nth-child(odd) {
    background: rgb(255,255,255,0);
}

.bt{
	padding: 10px 60px;
	border-radius: 10px;
	outline: none;
	border: 1px solid #fff;
	color: #fff;
    background: rgb(255,255,255,0);
}

.bt:hover{
	background: rgb(255,255,255,.6);
}

.select_1{  
    background:rgb(255,255,255,0);  
    outline: none;
    border: 1px solid rgb(255,255,255,.2);
} 